doctype html
html
    head
        title HTML Canvas
        link(rel='stylesheet', type='text/css', href='css/styles.css')
        script(src='js/drawing.js')


    body
        h1 HTML Canvas
        canvas#asteroids(width='400', height='400')
        script(src='js/script.js')
